<p id="notice"><%= notice %></p>

<h1>Lista de Livros</h1>

<table class="table">
  <thead>
    <tr>
      <th>Título</th>
      <th>Exemplares</th>
      <th>Preço</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @livros.each do |livro| %>
      <tr>
        <td><%= livro.nome %></td>
        <td><%= livro.exemplares %></td>
        <td><%= livro.price %></td>
        <td><%= link_to 'Mostrar', livro %></td>
      </tr>
    <% end %>
  </tbody>
</table>

Total: <%= @livros.sum(:price) %>
<br>
<%= link_to 'Novo Livro', new_livro_path %>
